In [36]:
import numpy as np
import pandas as pd
import os
import re
import warnings
warnings.filterwarnings("ignore")

In [37]:
description = pd.read_csv("../description/Phenotypic_V1_0b_change.csv")
description["exist"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1107   NaN
1108   NaN
1109   NaN
1110   NaN
1111   NaN
Name: exist, Length: 1112, dtype: float64

In [38]:
pd.isna(description["exist"])

0       True
1       True
2       True
3       True
4       True
        ...
1107    True
1108    True
1109    True
1110    True
1111    True
Name: exist, Length: 1112, dtype: bool

In [39]:
description["SUB_ID"]

0       51456
1       51457
2       51458
3       51459
4       51460
        ...
1107    50624
1108    50625
1109    50626
1110    50627
1111    50628
Name: SUB_ID, Length: 1112, dtype: int64

In [40]:
description.loc[:]["SUB_ID"] == 51456

0        True
1       False
2       False
3       False
4       False
        ...
1107    False
1108    False
1109    False
1110    False
1111    False
Name: SUB_ID, Length: 1112, dtype: bool

In [41]:
site_id = description['SITE_ID']
site_id

0       CALTECH
1       CALTECH
2       CALTECH
3       CALTECH
4       CALTECH
         ...
1107       YALE
1108       YALE
1109       YALE
1110       YALE
1111       YALE
Name: SITE_ID, Length: 1112, dtype: object

In [42]:
sub_id = description['SUB_ID']
sub_id

0       51456
1       51457
2       51458
3       51459
4       51460
        ...
1107    50624
1108    50625
1109    50626
1110    50627
1111    50628
Name: SUB_ID, Length: 1112, dtype: int64

In [43]:
# 1为患病，2为未患病
label = description['DX_GROUP']
label

0       1
1       1
2       1
3       1
4       1
       ..
1107    1
1108    1
1109    1
1110    1
1111    1
Name: DX_GROUP, Length: 1112, dtype: int64

In [44]:
description[description["SITE_ID"] == "CALTECH"]["SUB_ID"]

0     51456
1     51457
2     51458
3     51459
4     51460
5     51461
6     51462
7     51463
8     51464
9     51465
10    51466
11    51467
12    51468
13    51469
14    51470
15    51471
16    51472
17    51473
18    51474
19    51475
20    51476
21    51477
22    51478
23    51479
24    51480
25    51481
26    51482
27    51483
28    51484
29    51485
30    51486
31    51487
32    51488
33    51489
34    51490
35    51491
36    51492
37    51493
Name: SUB_ID, dtype: int64

In [45]:
path = "../raw_data/rois_aal_csv_separate/"
institutions_name = ["Caltech","CMU","KKI","Leuven_1","Leuven_2","Max_Mun","NYU","OHSU","Olin","Pitt","SBL","SDSU","Stanford","Trinity","UCLA_1","UCLA_2","UM_1","UM_2","USM","Yale"]

In [46]:
for institution in institutions_name:
    ins_path = path + institution
    files = os.listdir(ins_path)
    for id in description[description["SITE_ID"] == institution.upper()]["SUB_ID"]:
        get = 0
        for file in files:
            if re.search(str(id),file) == None:
                continue
            else:
                description.exist[description.SUB_ID == id] = 1
                get = 1
                break
        if get == 0:
            description.exist[description.SUB_ID == id] = 0
            description.reason[description.SUB_ID == id] = 0
description

      SITE_ID  SUB_ID  DX_GROUP  exist  reason
0     CALTECH   51456         1    1.0     NaN
1     CALTECH   51457         1    1.0     NaN
2     CALTECH   51458         1    1.0     NaN
3     CALTECH   51459         1    1.0     NaN
4     CALTECH   51460         1    1.0     NaN
...       ...     ...       ...    ...     ...
1107     YALE   50624         1    1.0     NaN
1108     YALE   50625         1    1.0     NaN
1109     YALE   50626         1    1.0     NaN
1110     YALE   50627         1    1.0     NaN
1111     YALE   50628         1    1.0     NaN

[1112 rows x 5 columns]

In [47]:
description[description["SITE_ID"] == "MAX_MUN"]

     SITE_ID  SUB_ID  DX_GROUP  exist  reason
184  MAX_MUN   51606         1    1.0     NaN
185  MAX_MUN   51607         1    1.0     NaN
186  MAX_MUN   51318         1    1.0     NaN
187  MAX_MUN   51319         1    1.0     NaN
188  MAX_MUN   51320         1    0.0     0.0
189  MAX_MUN   51321         1    1.0     NaN
190  MAX_MUN   51322         1    1.0     NaN
191  MAX_MUN   51323         1    1.0     NaN
192  MAX_MUN   51324         1    1.0     NaN
193  MAX_MUN   51325         1    1.0     NaN
194  MAX_MUN   51326         1    1.0     NaN
195  MAX_MUN   51327         1    1.0     NaN
196  MAX_MUN   51328         1    1.0     NaN
197  MAX_MUN   51329         1    1.0     NaN
198  MAX_MUN   51330         1    1.0     NaN
199  MAX_MUN   51331         1    1.0     NaN
200  MAX_MUN   51332         2    1.0     NaN
201  MAX_MUN   51333         2    1.0     NaN
202  MAX_MUN   51334         2    1.0     NaN
203  MAX_MUN   51335         2    1.0     NaN
204  MAX_MUN   51336         2    1.0     NaN
205  MAX_MUN   51338         2    1.0     NaN
206  MAX_MUN   51339         2    1.0     NaN
207  MAX_MUN   51340         2    1.0     NaN
208  MAX_MUN   51341         2    0.0     0.0
209  MAX_MUN   51342         2    1.0     NaN
210  MAX_MUN   51343         2    1.0     NaN
211  MAX_MUN   51344         2    1.0     NaN
212  MAX_MUN   51345         2    1.0     NaN
213  MAX_MUN   51346         2    1.0     NaN
214  MAX_MUN   51347         2    1.0     NaN
215  MAX_MUN   51348         1    0.0     0.0
216  MAX_MUN   51349         1    1.0     NaN
217  MAX_MUN   51350         1    0.0     0.0
218  MAX_MUN   51351         1    1.0     NaN
219  MAX_MUN   51352         1    0.0     0.0
220  MAX_MUN   51353         1    0.0     0.0
221  MAX_MUN   51354         1    0.0     0.0
222  MAX_MUN   51355         1    1.0     NaN
223  MAX_MUN   51356         2    1.0     NaN
224  MAX_MUN   51357         2    1.0     NaN
225  MAX_MUN   51358         2    0.0     0.0
226  MAX_MUN   51359         2    0.0     0.0
227  MAX_MUN   51360         2    1.0     NaN
228  MAX_MUN   51361         2    0.0     0.0
229  MAX_MUN   51362         2    1.0     NaN
230  MAX_MUN   51363         2    1.0     NaN
231  MAX_MUN   51364         2    1.0     NaN
232  MAX_MUN   51365         2    1.0     NaN
233  MAX_MUN   51366         2    0.0     0.0
234  MAX_MUN   51367         2    0.0     0.0
235  MAX_MUN   51368         2    0.0     0.0
236  MAX_MUN   51369         2    1.0     NaN
237  MAX_MUN   51370         2    1.0     NaN
238  MAX_MUN   51371         2    0.0     0.0
239  MAX_MUN   51372         2    0.0     0.0
240  MAX_MUN   51373         2    1.0     NaN

In [48]:
sum(description["exist"] == 1)

884

In [53]:
description[description["exist"] == 1].to_csv("test.csv")