In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
label = pd.read_csv("../description/label.csv")
label.rename(columns={'Unnamed：0':'No'})
label

     Unnamed: 0  SITE_ID  SUB_ID  DX_GROUP  exist  reason  group_1  group_2
0             0  CALTECH   51456         1      1       0        1        0
1             1  CALTECH   51457         1      1       2        1        0
2             2  CALTECH   51458         1      1       2        1        0
3             3  CALTECH   51459         1      1       2        1        0
4             4  CALTECH   51460         1      1       2        1        0
..          ...      ...     ...       ...    ...     ...      ...      ...
879         879     YALE   50624         1      1       0        1        0
880         880     YALE   50625         1      1       0        1        0
881         881     YALE   50626         1      1       0        1        0
882         882     YALE   50627         1      1       0        1        0
883         883     YALE   50628         1      1       0        1        0

[884 rows x 8 columns]

In [14]:
root_path = '../raw_data/rois_aal_csv'
files = os.listdir(root_path)

In [15]:
file_name = set()
for file in files:
    file_path = root_path + '/' + file
    data = pd.read_csv(file_path)
    for i in data.iloc[0]:
        if i == 0 or pd.isna(i):
            file_name.add(file)
    for i in data.iloc[:,0]:
        if i == 0 or pd.isna(i):
            file_name.add(file)
file_name

set()

In [9]:
len(file_name)

816