In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
institutions_name = ["Caltech","CMU","KKI","Leuven_1","Leuven_2","Max_Mun","NYU","OHSU","Olin","Pitt","SBL","SDSU","Stanford","Trinity","UCLA_1","UCLA_2","UM_1","UM_2","USM","Yale"]

In [4]:
root_path = '../raw_data/rois_aal_csv_separate'

In [5]:
file_num = []
row = []
columns = []

In [6]:
for institution in institutions_name:
    cnt = 0
    ins_path = root_path + '/' + institution
    files = os.listdir(ins_path)
    for file in files:
        cnt+=1
    file_num.append(cnt)
    data = pd.read_csv(ins_path + '/' + files[0])
    row.append(data.shape[0])
    columns.append(data.shape[1])

In [7]:
ins_info = pd.DataFrame({
    "name" : institutions_name,
    "num" : file_num,
    "row" : row,
    "columns" : columns
})
ins_info

        name  num  row  columns
0    Caltech   37  146      116
1        CMU    5  236      116
2        KKI   39  152      116
3   Leuven_1   29  246      116
4   Leuven_2   32  246      116
5    Max_Mun   42  116      116
6        NYU  166  176      116
7       OHSU   23   78      116
8       Olin   25  206      116
9       Pitt   45  196      116
10       SBL   26  196      116
11      SDSU   33  176      116
12  Stanford   36  176      116
13   Trinity   44  146      116
14    UCLA_1   55  116      116
15    UCLA_2   20  116      116
16      UM_1   82  296      116
17      UM_2   31  296      116
18       USM   61  236      116
19      Yale   48  196      116

In [8]:
ins_info.to_csv("../description/institution_info.csv",index = False)

In [13]:
data = ins_info[['num','row']]
data

    num  row
0    37  146
1     5  236
2    39  152
3    29  246
4    32  246
5    42  116
6   166  176
7    23   78
8    25  206
9    45  196
10   26  196
11   33  176
12   36  176
13   44  146
14   55  116
15   20  116
16   82  296
17   31  296
18   61  236
19   48  196