In [2]:
import pandas as pd
import numpy as np
import os

In [27]:
institutions_name = ["Caltech","CMU","KKI","Leuven_1","Leuven_2","Max_Mun","NYU","OHSU","Olin","Pitt","SBL","SDSU","Stanford","Trinity","UCLA_1","UCLA_2","UM_1","UM_2","USM","Yale"]

In [28]:
root_path = '../raw_data/rois_aal_csv_separate'

In [30]:
file_num = []
row = []
columns = []

In [31]:
for institution in institutions_name:
    cnt = 0
    ins_path = root_path + '/' + institution
    files = os.listdir(ins_path)
    for file in files:
        cnt+=1
    file_num.append(cnt)
    data = pd.read_csv(ins_path + '/' + files[0])
    row.append(data.shape[0])
    columns.append(data.shape[1])

In [35]:
file_num

[37,
 5,
 39,
 29,
 32,
 42,
 171,
 23,
 25,
 45,
 26,
 33,
 36,
 44,
 55,
 20,
 82,
 31,
 61,
 48]

In [36]:
row

[146,
 236,
 152,
 246,
 246,
 116,
 176,
 78,
 206,
 196,
 196,
 176,
 176,
 146,
 116,
 116,
 296,
 296,
 236,
 196]

In [37]:
columns

[116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116,
 116]

In [40]:
ins_info = pd.DataFrame({
    "name" : institutions_name,
    "num" : file_num,
    "row" : row,
    "columns" : columns
})
ins_info

        name  num  row  columns
0    Caltech   37  146      116
1        CMU    5  236      116
2        KKI   39  152      116
3   Leuven_1   29  246      116
4   Leuven_2   32  246      116
5    Max_Mun   42  116      116
6        NYU  171  176      116
7       OHSU   23   78      116
8       Olin   25  206      116
9       Pitt   45  196      116
10       SBL   26  196      116
11      SDSU   33  176      116
12  Stanford   36  176      116
13   Trinity   44  146      116
14    UCLA_1   55  116      116
15    UCLA_2   20  116      116
16      UM_1   82  296      116
17      UM_2   31  296      116
18       USM   61  236      116
19      Yale   48  196      116

In [42]:
ins_info.to_csv("../description/institution_info.csv",index = False)