In [47]:
import pandas as pd
import numpy as np
import os
from shutil import move

In [48]:
label = pd.read_csv("../description/label.csv")
label

     Unnamed: 0  SITE_ID  SUB_ID  DX_GROUP  exist  reason  group_1  group_2
0             0  CALTECH   51456         1      1       0        1        0
1             1  CALTECH   51457         1      1       2        1        0
2             2  CALTECH   51458         1      1       2        1        0
3             3  CALTECH   51459         1      1       2        1        0
4             4  CALTECH   51460         1      1       2        1        0
..          ...      ...     ...       ...    ...     ...      ...      ...
879         879     YALE   50624         1      1       0        1        0
880         880     YALE   50625         1      1       0        1        0
881         881     YALE   50626         1      1       0        1        0
882         882     YALE   50627         1      1       0        1        0
883         883     YALE   50628         1      1       0        1        0

[884 rows x 8 columns]

In [49]:
label.columns

Index(['Unnamed: 0', 'SITE_ID', 'SUB_ID', 'DX_GROUP', 'exist', 'reason',
       'group_1', 'group_2'],
      dtype='object')

In [50]:
len(label[label.reason == 0])

681

In [51]:
path = "../raw_data/rois_aal_csv"
files = os.listdir(path)

In [55]:
throw = label[label.reason != 0][label.columns[0]].to_list()
len(throw)

203

In [53]:
after_path = '../raw_data/rois_aal_csv_throw'

In [54]:
for i in throw:
    before_path = path + '/' + files[i]
    move(before_path,after_path)